[%
    SET CMS.item = {
        title = "Samantha McVey",
        image = "anniecast.jpg",
        tasks = "Main Organiser",
        intro = "Let's make the Perl Conference in Amsterdam GREAT together!",
        texts = [
           "Samantha, would you please care to add a statement here?"
        ],
    }
%]
